
.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button {
  background-color: #4c74af;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 200px;
}

.button:hover {
  opacity: 0.8;
}

.crtAccntBtn {
  color: white;
  width: auto;
  padding: 10px 18px;
  background-color: #047900;
  border: none;
  border-radius: 50px;
  cursor: pointer;  
}

.logncontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
  margin-bottom: 20px;
}

.container-create-account {
  display: inline-block;
  padding: 16px;
  margin-bottom: 10px;
}

span.psw {
  float: right;
  padding-top: 16px;
}


.login-modal {
  left: 0;
  top: 0;
  width: 600px;
  height: 100%;
  overflow: auto;
  margin: auto;
  margin-top: 60px;
  padding-top: 40px;
  color: white;
  background-color: rgb(0, 80, 80);
  border-radius: 2%;
  background-image: url(https://images.pexels.com/photos/3473569/pexels-photo-3473569.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}


.login-modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%; 
}


.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}


@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}