.App {
  margin-top: 16px;
  margin-left: 24px;
  margin-right: 24px;
  text-align: left;

}

.Center-text {
  text-align: center;
}

.Details {
  margin-top: 100px;
  padding: 10px;
  text-align: center;
  display: block;
  border: rgb(0, 84, 112) solid 2px;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

.Logo-style {
  margin-top: 100px;
  margin-left: 600px;
}

.Product {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.Product-Item {
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0.5;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
}
.Product-Item:hover {
  opacity: 1.0;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Navbar {
  background-color: rgb(224, 224, 224);
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: x-large;
  padding: 8px;
  height: 40px;
}

.Edit-Button {
  text-align: right;
  margin-top: 16px;
  float: right;
}

.Float-left {
  float: left;
  clear: both;
  margin-right: 16px;
}

.Float-right {
  float: right;
  clear: both;
  margin-left: 16px;
  padding: 10px;
}

.Category {
  background-color: rgb(129, 173, 93);
  padding: 6px;
  margin-top: 8px;
  display: inline-block;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
}

.Price {
  background-color: gold;
  padding: 8px;
  display: inline-block;
  margin-right: 8px;
  border-radius: 8px;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
