.App {
  margin-top: 16px;
  margin-left: 24px;
  margin-right: 24px;
  text-align: left;
}

.Center-text {
  text-align: center;
}

.Details {
  margin-top: 100px;
  border: 1px dashed black;
  padding: 10px;
  text-align: left;
  /* background-color: rgb(162, 194, 255); */
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

.Logo-style {
  margin-top: 100px;
  margin-left: 600px;
}

.Product {
  border: 1px dotted black;
  padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Navbar {
  background-color: rgb(160, 208, 216);
  padding: 8px;
  height: 30px;
}

.Edit-Button {
  text-align: left;
  margin-top: 16px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
